<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>
	MRSECTT</display-name>
  <servlet>
    <description>
		</description>
    <display-name>
		dwr-invoker</display-name>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>
		org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <description>
			</description>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <description>
			</description>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		MstRoleController</display-name>
    <servlet-name>MstRoleController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.MstRoleController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		RefrenceDashboardSubjectWise</display-name>
    <servlet-name>RefrenceDashboardSubjectWise</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.RefrenceDashboardSubjectWise</servlet-class>
  </servlet>
  <!-- <servlet>
    <description>
		</description>
    <display-name>
		Log4jInit</display-name>
    <servlet-name>Log4jInit</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.util.Log4jInit</servlet-class>
    <init-param>
      <description>
			</description>
      <param-name>log4j-properties-location</param-name>
      <param-value>WEB-INF</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet> -->
  <servlet>
    <description>
		</description>
    <display-name>
		MstTenureController</display-name>
    <servlet-name>MstTenureController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.MstTenureController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		TrnReferenceController</display-name>
    <servlet-name>TrnReferenceController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.TrnReferenceController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		MstSubjectController</display-name>
    <servlet-name>MstSubjectController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.MstSubjectController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		PMOfficeReportController</display-name>
    <servlet-name>PMOfficeReportController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.PMOfficeReportController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		MstLoginController</display-name>
    <servlet-name>MstLoginController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.MstLoginController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		TrnUploadController</display-name>
    <servlet-name>TrnUploadController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.TrnUploadController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		TempController</display-name>
    <servlet-name>TempController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.TempController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		TrnReferenceController2</display-name>
    <servlet-name>TrnReferenceController2</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.TrnReferenceController2</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		StateCoordinatorReportController</display-name>
    <servlet-name>StateCoordinatorReportController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.StateCoordinatorReportController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		AttachmentController</display-name>
    <servlet-name>AttachmentController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.AttachmentController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		CustomReportDAO</display-name>
    <servlet-name>CustomReportDAO</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.dao.CustomReportDAO</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		CustomReportController</display-name>
    <servlet-name>CustomReportController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.CustomReportController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		TrnFileManagementController</display-name>
    <servlet-name>TrnFileManagementController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.TrnFileManagementController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		MstPartyController</display-name>
    <servlet-name>MstPartyController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.MstPartyController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		GenerateReportController</display-name>
    <servlet-name>GenerateReportController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.GenerateReportController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		MastersReportsExcelDAO</display-name>
    <servlet-name>MastersReportsExcelDAO</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.dao.MastersReportsExcelDAO</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		MastersReportPDFDAO</display-name>
    <servlet-name>MastersReportPDFDAO</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.dao.MastersReportPDFDAO</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		LogOffController</display-name>
    <servlet-name>LogOffController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.LogOffController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		GenerateReportFileMovController</display-name>
    <servlet-name>GenerateReportFileMovController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.GenerateReportFileMovController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		CustomReportFileMovController</display-name>
    <servlet-name>CustomReportFileMovController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.CustomReportFileMovController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		StaticReportsController</display-name>
    <servlet-name>StaticReportsController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.StaticReportsController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		MenuAdministrationController</display-name>
    <servlet-name>MenuAdministrationController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.MenuAdministrationController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		MenuGenerationController</display-name>
    <servlet-name>MenuGenerationController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.MenuGenerationController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		MstVIPController</display-name>
    <servlet-name>MstVIPController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.MstVIPController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ReportRefNoController</display-name>
    <servlet-name>ReportRefNoController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.ReportIncomingDateController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		PreferredListController</display-name>
    <servlet-name>PreferredListController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.PreferredListController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		MstDepartmentController</display-name>
    <servlet-name>MstDepartmentController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.MstDepartmentController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		UpdateRoleIDController</display-name>
    <servlet-name>UpdateRoleIDController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.UpdateRoleIDController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ReportIncomingDateController</display-name>
    <servlet-name>ReportIncomingDateController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.ReportIncomingDateController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		GeneralReportsController</display-name>
    <servlet-name>GeneralReportsController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.GeneralReportsController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		GeneralReports_FileMovController</display-name>
    <servlet-name>GeneralReports_FileMovController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.GeneralReports_FileMovController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ModifyAckController</display-name>
    <servlet-name>ModifyAckController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.ModifyAckController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ModifyHindi_GController</display-name>
    <servlet-name>ModifyHindi_GController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.ModifyHindi_GController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		DownloadAllAttachments</display-name>
    <servlet-name>DownloadAllAttachments</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.DownloadAllAttachments</servlet-class>
  </servlet>
  
  <servlet>
    <description>
		</description>
    <display-name>
		UploadServ</display-name>
    <servlet-name>UploadServ</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.UploadServ</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		UpdateVIPNameController</display-name>
    <servlet-name>UpdateVIPNameController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.UpdateVIPNameController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		StaticReportsDetailedController</display-name>
    <servlet-name>StaticReportsDetailedController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.StaticReportsDetailedController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		QuartzInit</display-name>
    <servlet-name>QuartzInit</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.QuartzInit</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		KeywordReportController</display-name>
    <servlet-name>KeywordReportController</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.KeywordReportController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		KeywordsReportExcel</display-name>
    <servlet-name>KeywordsReportExcel</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.KeywordsReportExcel</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>MonthlyReportController</display-name>
    <servlet-name>MonthlyReportController</servlet-name>
    <servlet-class>in.org.cris.mrsectt.controller.MonthlyReportController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>DetailedListOfDashboardController</display-name>
    <servlet-name>DetailedListOfDashboardController</servlet-name>
    <servlet-class>in.org.cris.mrsectt.controller.DetailedListOfDashboardController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		NewReport</display-name>
    <servlet-name>NewReport</servlet-name>
    <servlet-class>
		in.org.cris.mrsectt.controller.NewReport</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SummaryReportController</display-name>
    <servlet-name>SummaryReportController</servlet-name>
    <servlet-class>in.org.cris.mrsectt.controller.SummaryReportController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>FileSummaryReportController</display-name>
    <servlet-name>FileSummaryReportController</servlet-name>
    <servlet-class>in.org.cris.mrsectt.controller.FileSummaryReportController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>DetailListOfDashboardController_Other</display-name>
    <servlet-name>DetailListOfDashboardController_Other</servlet-name>
    <servlet-class>in.org.cris.mrsectt.controller.DetailListOfDashboardController_Other</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>RefrenceDashboardSubjectWise_Other</display-name>
    <servlet-name>RefrenceDashboardSubjectWise_Other</servlet-name>
    <servlet-class>in.org.cris.mrsectt.controller.RefrenceDashboardSubjectWise_Other</servlet-class>
  </servlet>
 
  <servlet>
    <description>
		</description>
    <display-name>DetailedListOfDashboardRoleWiseController</display-name>
    <servlet-name>DetailedListOfDashboardRoleWiseController</servlet-name>
    <servlet-class>in.org.cris.mrsectt.controller.DetailedListOfDashboardRoleWiseController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>RefrenceDashboardRoleWise</display-name>
    <servlet-name>RefrenceDashboardRoleWise</servlet-name>
    <servlet-class>in.org.cris.mrsectt.controller.RefrenceDashboardRoleWise</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>downloadcsvservlet</servlet-name>
    <servlet-class>psdi.webclient.servlet.DownloadCSVServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
	</description>
    <display-name>AttachmentFileController</display-name>
    <servlet-name>AttachmentFileController</servlet-name>
    <servlet-class>in.org.cris.mrsectt.controller.AttachmentFileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadcsvservlet</servlet-name>
    <url-pattern>/dcsv/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewReport</servlet-name>
    <url-pattern>/NewReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefrenceDashboardRoleWise</servlet-name>
    <url-pattern>/RefrenceDashboardRoleWise</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailedListOfDashboardRoleWiseController</servlet-name>
    <url-pattern>/DetailedListOfDashboardRoleWiseController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailListOfDashboardController_Other</servlet-name>
    <url-pattern>/DetailListOfDashboardController_Other</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MstRoleController</servlet-name>
    <url-pattern>/MstRoleController</url-pattern>
  </servlet-mapping>
<!--   <servlet-mapping>
    <servlet-name>Log4jInit</servlet-name>
    <url-pattern>/Log4jInit</url-pattern>
  </servlet-mapping> -->
  <servlet-mapping>
    <servlet-name>MstTenureController</servlet-name>
    <url-pattern>/MstTenureController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrnReferenceController</servlet-name>
    <url-pattern>/TrnReferenceController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MstSubjectController</servlet-name>
    <url-pattern>/MstSubjectController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MstLoginController</servlet-name>
    <url-pattern>/MstLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefrenceDashboardSubjectWise</servlet-name>
    <url-pattern>/RefrenceDashboardSubjectWise</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrnUploadController</servlet-name>
    <url-pattern>/TrnUploadController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TempController</servlet-name>
    <url-pattern>/TempController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrnReferenceController2</servlet-name>
    <url-pattern>/TrnReferenceController2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttachmentController</servlet-name>
    <url-pattern>/AttachmentController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PMOfficeReportController</servlet-name>
    <url-pattern>/PMOfficeReportController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomReportDAO</servlet-name>
    <url-pattern>/CustomReportDAO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomReportController</servlet-name>
    <url-pattern>/CustomReportController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrnFileManagementController</servlet-name>
    <url-pattern>/TrnFileManagementController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MstPartyController</servlet-name>
    <url-pattern>/MstPartyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerateReportController</servlet-name>
    <url-pattern>/GenerateReportController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MastersReportsExcelDAO</servlet-name>
    <url-pattern>/MastersReportsExcelDAO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MastersReportPDFDAO</servlet-name>
    <url-pattern>/MastersReportPDFDAO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogOffController</servlet-name>
    <url-pattern>/LogOffController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerateReportFileMovController</servlet-name>
    <url-pattern>/GenerateReportFileMovController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomReportFileMovController</servlet-name>
    <url-pattern>/CustomReportFileMovController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StaticReportsController</servlet-name>
    <url-pattern>/StaticReportsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuAdministrationController</servlet-name>
    <url-pattern>/MenuAdministrationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuGenerationController</servlet-name>
    <url-pattern>/MenuGenerationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MstVIPController</servlet-name>
    <url-pattern>/MstVIPController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportRefNoController</servlet-name>
    <url-pattern>/ReportRefNoController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreferredListController</servlet-name>
    <url-pattern>/PreferredListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MstDepartmentController</servlet-name>
    <url-pattern>/MstDepartmentController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateRoleIDController</servlet-name>
    <url-pattern>/UpdateRoleIDController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportIncomingDateController</servlet-name>
    <url-pattern>/ReportIncomingDateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeneralReportsController</servlet-name>
    <url-pattern>/GeneralReportsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeneralReports_FileMovController</servlet-name>
    <url-pattern>/GeneralReports_FileMovController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyAckController</servlet-name>
    <url-pattern>/ModifyAckController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyHindi_GController</servlet-name>
    <url-pattern>/ModifyHindi_GController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadAllAttachments</servlet-name>
    <url-pattern>/DownloadAllAttachments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServ</servlet-name>
    <url-pattern>/UploadServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateVIPNameController</servlet-name>
    <url-pattern>/UpdateVIPNameController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StaticReportsDetailedController</servlet-name>
    <url-pattern>/StaticReportsDetailedController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuartzInit</servlet-name>
    <url-pattern>/QuartzInit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KeywordReportController</servlet-name>
    <url-pattern>/KeywordReportController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KeywordsReportExcel</servlet-name>
    <url-pattern>/KeywordsReportExcel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MonthlyReportController</servlet-name>
    <url-pattern>/MonthlyReportController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SummaryReportController</servlet-name>
    <url-pattern>/SummaryReportController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StateCoordinatorReportController</servlet-name>
    <url-pattern>/StateCoordinatorReportController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileSummaryReportController</servlet-name>
    <url-pattern>/FileSummaryReportController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailedListOfDashboardController</servlet-name>
    <url-pattern>/DetailedListOfDashboardController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefrenceDashboardSubjectWise_Other</servlet-name>
    <url-pattern>/RefrenceDashboardSubjectWise_Other</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttachmentFileController</servlet-name>
    <url-pattern>/AttachmentFileController</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
</web-app>